body {
  font-family: "Tetris Blocks";
  background-color: pink;
}

.jordan {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* animation-duration: 5s;
  animation-name: Zoomer;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
  animation: 0.5s ease-in-out alternate infinite Zoomer;
}

@keyframes Zoomer {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes SPOOON {
  0% {
    transform: rotate(-20deg) scale(1.5);
    color: red;
  }
  50% {
    transform: rotate(0deg) scale(1);
    color: green;
  }
  100% {
    transform: rotate(20deg) scale(1.5);
    color: blue;
  }
}
